.center > .menu-items > .item-one img {
    height: 100vh;
    width: 100vw;
}

.center > .menu-items > .item-two img {
    height: 100vh;
    width: 100vw;
}

.center > .menu-items > .item-three img {
    height: 100vh;
    width: 100vw;
}

